{% extends 'base.html' %}


{% block title %} SecStrAnnotator Online - Completed {% endblock %}


{% block content %}

<div class="row">
    <div class="col border m-3 p-3">
        <table>
            <tr>
                <td class='label'>Job name:</td>
                <td>{{job_name}}</td>
            </tr>
            <tr>
                <td class='label'>Job ID:</td>
                <td>{{job_id}}</td>
            </tr>
            <tr>
                <td class='label'>Status:</td>
                <td>{{job_status}}</td>
            </tr>
            <tr>
                <td class='label'>Submission time:</td>
                <td>{{submission_time}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>
            Job: &nbsp; {{job_name}}
        </h3>
    </div>
</div>

<div class="row justify-content-center mt-3">
    {% if params.template_type != 'none' %}
    <div class="col-12 col-md-6">
        <p class="text-center">Template <strong>{{template_name}}</strong></p>
        <img src="/results/{{job_id}}/query-template.png" class="d-block mx-auto" style="max-width: 100%;" />
    </div>
    <div class="col-12 col-md-6">
        <p class="text-center">Annotated query <strong>{{query_name}}</strong></p>
        <img src="/results/{{job_id}}/query-annotated.png" class="d-block mx-auto" style="max-width: 100%;" />
    </div>
    {% else %}
    <div class="col-12 col-md-6">
        <p class="text-center">Query <strong>{{query_name}}</strong></p>
        {% if pse_available %}
        <img src="/results/{{job_id}}/query-detected.png" class="d-block mx-auto" style="max-width: 100%;" />
        {% else %}
        <img src="/static/images/image-not-available.png" class="d-block mx-auto" style="max-width: 100%;" alt="Image not available (structure too big)"/>
        {% endif %}
    </div>
    {% endif %}
</div>

<div class="row mt-3">
    <div class="col-12 col-md-6 mb-3">
        <h3>Summary</h3>
        <table class="summary">
            {% if params.template_type != 'none' %}
            <tr>
                <th>Template <span title='Secondary structure elements'>SSEs</span>:</th>
                <td class="num">{{summary.get('n_template_sses', '?')}}</td>
                <td>({{summary.get('n_template_helices', '?')}} helices + {{summary.get('n_template_strands', '?')}} strands)</td>
            </tr>
            {% endif %}
            <tr>
                <th>Detected SSEs in query:</th>
                <td class="num">{{summary.get('n_detected_sses', '?')}}</td>
                <td>({{summary.get('n_detected_helices', '?')}} helices + {{summary.get('n_detected_strands', '?')}} strands)</td>
            </tr>
            {% if params.template_type != 'none' %}
            <tr>
                <th>Annotated SSEs in query:</th>
                <td class="num">{{summary.get('n_annotated_sses', '?')}}</td>
                <td>({{summary.get('n_annotated_helices', '?')}} helices + {{summary.get('n_annotated_strands', '?')}} strands)</td>
            </tr>
            {% endif %}
        </table>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <h3>Download results</h3>
        <table class="summary">
            <tr>
                <th>Annotation file:</th>
                <td>
                    {% if params.template_type != 'none' %}
                    <a href='/results/{{job_id}}/query-annotated.sses.json'>query-annotated.sses.json</a>
                    {% else %}
                    <a href='/results/{{job_id}}/query-detected.sses.json'>query-detected.sses.json</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>PyMOL session:</th>
                <td>
                    {% if not pse_available %}
                    Not available (structure too big)
                    {% elif params.template_type != 'none' %}
                    <a href='/results/{{job_id}}/query-annotated.pse'>query-annotated.pse</a>
                    {% else %}
                    <a href='/results/{{job_id}}/query-detected.pse'>query-detected.pse</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>All data:</th>
                <td><a href='/results/{{job_id}}/data.zip'>data.zip</a></td>
            </tr>
        </table>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <h3>Sequence annotation</h3>
        <div class="panel">
            <div class="p-2">
                <div class="foldable" id="vis-foldable" folded="folded">
                    <div class="pre">{{visual}}</div>
                </div>
            </div>
            <div class="panel-control">
                <button class="btn btn-link button-foldable pt-1 pb-1" folding-for="vis-foldable"></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script>
    function toggleFolding(event) {
        let button = $(event.target);
        let targetId = button.attr('folding-for');
        let target = $(`#${targetId}`);
        if (target) {
            if (target.attr('folded') == 'folded') {
                target.attr('folded', 'unfolded');
                button.attr('folded', 'unfolded');
            } else {
                target.attr('folded', 'folded');
                button.attr('folded', 'folded');
            }
        }
    }
    function initializeFoldingButton(button) {
        button = $(button);
        console.log(button);
        let targetId = button.attr('folding-for');
        let target = $(`#${targetId}`);
        let folded = button.attr('folded') || target.attr('folded') || 'folded';
        button.attr('folded', folded);
        target.attr('folded', folded);
        button.on('click', event => toggleFolding(event));
    }

    function hideAllPopovers() {
        $('[data-toggle="popover"]').popover('hide');
    }
    function showPopover(event) {
        hideAllPopovers();
        $(event.target).popover('show');
        $('.popover').on('click', event => event.stopPropagation());
        event.stopPropagation();
    }

    // Enable tooltip with HTML
    // $(function () { $('[data-toggle="tooltip"]').tooltip(); })
    // $(function () { $('[data-toggle="popover"]').popover(); })
    $(() => $('[data-toggle="popover"]').on('click', showPopover));
    $(() => $(document).on('click', hideAllPopovers));
    $(() => $('[folding-for]').each((i, button) => initializeFoldingButton(button)));

</script>

{% endblock %}