{% extends 'base.html' %}


{% block title %} SecStrAnnotator Online - Failed {% endblock %}


{% block content %}

<div class="row">
    <div class="col border m-3 p-3">
        <table>
            <tr>
                <td class='label'>Job name:</td>
                <td>{{job_name}}</td>
            </tr>
            <tr>
                <td class='label'>Job ID:</td>
                <td>{{job_id}}</td>
            </tr>
            <tr>
                <td class='label'>Status:</td>
                <td>{{job_status}}</td>
            </tr>
            <tr>
                <td class='label'>Submission time:</td>
                <td>{{submission_time}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>Sorry, we could not process your job.</p>
        <pre>{{error_message}}</pre>
    </div>
</div>

{% endblock %}