{% extends 'base.html' %}


{% block title %} SecStrAnnotator Online - Home {% endblock %}


{% block content %}

<div class="row">
    <div class="col text-justify">
        <p>
            <strong>SecStrAnnotator</strong> is a software tool for annotation (naming) of secondary structure elements (SSEs), 
            namely helices and β-strands, in protein structures. 
            You can either download the <a href="https://webchem.ncbr.muni.cz/Wiki/SecStrAnnotator">desktop version of SecStrAnnotator</a>, 
            or use <strong>SecStrAnnotator Online</strong> on this site.
        </p>
        <p>
            The SSE annotation is template-based, meaning that a structurally similar template protein with annotated SSEs must be provided.
            SecStrAnnotator Online allows automatic annotation using our pre-defined template for cytochromes P450 (CYPs) or by user-defined template. 
        </p>
        <p>
            With <a href="https://webchem.ncbr.muni.cz/Wiki/SecStrAnnotator:SecStrAPI">SecStrAPI plugin</a> you can view precomputed CYP annotation directly in PyMOL.
        </p>
    </div>
</div>
<hr>

<div class="row">
    <div class="col">
        <h2>Annotate</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>
            Annotate your own structures with SecStrAnnotator <a href='/submit' style="font-weight: bolder; font-size: 120%;">&nbsp;&DoubleRightArrow;&nbsp;</a>
        </p>
    </div>
</div>
<hr>

<div class="row">
    <div class="col">
        <h2 class="mb-3">Examples</h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-4">
        <h3 class="text-center">Bacterial CYP</h3>
        <a href="/job/cyp-1akd">
            <img src='/static/images/cyp-1akd.png' alt='Pseudomonas putida cytochrome P450cam (1akd)' onerror="this.onerror=null; this.src='/static/images/lorem-picture.png';" class="img-fluid d-block mx-auto" style="max-height: 200px;" title="Pseudomonas putida cytochrome P450cam (1akd)">
        </a>
        <p class="text-justify mt-1">
            <strong>Cytochrome P450cam</strong> from <i>Pseudomonas putida</i> was the first CYP with experimentally determined structure.
            Hence it served as the base for the SSE nomenclature: 12 major helices were named A&ndash;L and the &beta;-sheets were numbered 1, 2, 3... 
            Over the years, shorter helices (A&prime;, B&prime; B&Prime;...) have been added to this nomenclature convention.
        </p>
    </div>
    <div class="col-12 col-md-4">
        <h3 class="text-center">Eukaryotic CYP</h3>
        <a href="/job/cyp-2nnj">
            <img src='/static/images/cyp-2nnj.png' alt='Human CYP 2C8 (2nnj)' onerror="this.onerror=null; this.src='/static/images/lorem-picture.png';" class="img-fluid d-block mx-auto" style="max-height: 200px;" title="Human CYP 2C8 (2nnj)">
        </a>
        <p class="text-justify mt-1">
            The eukaryotic CYPs differ from the bacterial in several regions of their structure. 
            The most obvious are two extra helices F&prime; and G&prime; between helices F and G, 
            and longer helix J (15 residues) followed an extra helix J&prime;.            
            As an example of eukaryotic CYPs we show <strong>CYP2C8</strong> from <i>Homo sapiens</i>
            (which also serves as the annotation template for other CYPs).
        </p>
    </div>
    <div class="col-12 col-md-4">
        <h3 class="text-center">Anomalous bacterial CYP</h3>
        <a href="/job/cyp-1bu7">
            <img src='/static/images/cyp-1bu7.png' alt='Bacillus megaterium CYP BM3 (1bu7)' onerror="this.onerror=null; this.src='/static/images/lorem-picture.png';" class="img-fluid d-block mx-auto" style="max-height: 200px;" title="Bacillus megaterium CYP BM3 (1bu7)">
        </a>
        <p class="text-justify mt-1">
            <strong>CYP BM3</strong> from <i>Bacillus megaterium</i> is one of the few known bacterial CYPs, 
            which show some typically eukaryotic structural features. 
            Like eukaryotic CYPs, it has a long helix J (15 residues) and helix J&prime;. 
            Like bacterial CYPs, it contains no F&prime; and G&prime; helices.
            CYP BM3 is also interesting because besides the CYP domain it contains a NADPH-dependent cytochrome P450 reductase domain 
            (not covered in this example).
        </p>
    </div>

</div>
<hr>

<div class="row">
    <div class="col">
        <h3>Citing</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>
            If you found SecStrAnnotator helpful, please cite:
        </p>
        <ul style="font-size: 90%;">
            <li>
                Midlik A, Navrátilová V, Moturu TR, Koča J, Svobodová R, Berka K (2021) 
                Uncovering of cytochrome P450 anatomy by SecStrAnnotator. Sci Rep, 11, 12345.
                <a href="https://doi.org/10.1038/s41598-021-91494-8" target="_blank">https://doi.org/10.1038/s41598-021-91494-8</a>
            </li>
            <li>
                Midlik A, Hutařová Vařeková I, Hutař J, Moturu TR, Navrátilová V, Koča J, Berka K, Svobodová Vařeková R (2019) 
                Automated family-wide annotation of secondary structure elements. 
                In: Kister AE (ed) Protein supersecondary structures: Methods and protocols, Humana Press. ISBN 978-1-4939-9160-0. 
                <a href="https://doi.org/10.1007/978-1-4939-9161-7_3" target="_blank">https://doi.org/10.1007/978-1-4939-9161-7_3</a>
            </li>
        </ul>
    </div>
</div>
<hr>


<div class="row">
    <div class="col">
        <h3>Contact</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>
            If you have any feedback to SecStrAnnotator or suggestions for protein families for annotation, please contact us:
        </p>
        <p>
            Adam Midlik, <a href="mailto:midlik@mail.muni.cz" target="_blank">midlik@mail.muni.cz</a>, Structural bioinformatics research group, Masaryk University
        </p>
    </div>
</div>

{% endblock %}