{% extends 'base.html' %}


{% block title %} SecStrAnnotator Online - Invalid Submission {% endblock %}


{% block content %}

<h3 class="mb-4">
    Invalid submission
</h3>

<p>
    {{message}}
</p>
<p>
    <button class="btn btn-link" onclick="window.history.back();">Back to the submission form</button>
</p>

{% endblock %}