{% extends 'base.html' %}


{% block title %} SecStrAnnotator Online - Manual {% endblock %}


{% block content %}

<div class="row text-justify">
    <div class="col">
        <h1>SecStrAnnotator Online &ndash; Manual</h1>
        <p>
            <strong>SecStrAnnotator Online</strong> is a web application for annotation (naming) of secondary structure elements (SSEs), 
            namely helices and β-strands, in protein structures. It is template-based, meaning that a structurally similar template protein 
            with annotated SSEs is a part of the input.
        </p>
        <p>
            We provide a template for the family of Cytochromes P450, and the user can also use their own template.
        </p>
        <p>
            SecStrAnnotator Online is built on the command-line program SecStrAnnotator, which is <a href="https://webchem.ncbr.muni.cz/Wiki/SecStrAnnotator:UserManual">available for download</a>.
        </p>    

        <h2>Home page</h2>
        <p>
            The home page provides links to the main parts of web. By clicking the <strong>&DoubleRightArrow;</strong> icon, 
            the user is redirected to the <strong>Annotate</strong> page.
            Clicking on the images of examples redirects to precomputed demonstrative results.
        </p>


        <h2>Annotate</h2>
        <p>
            The <strong>Annotate</strong> page allows the user to submit an annotation job.            
        </p>
        <img src="/static/images/screenshot-annotate.png" class="screenshot">

        <h2><br>TODO</h2>

    </div>
</div>

{% endblock %}