{% extends 'base.html' %}


{% block title %} SecStrAnnotator Online - Not Found {% endblock %}


{% block content %}

<h3 class="mb-4">
    {{title or 'Not found'}}
</h3>

<p>
    {{message}}
</p>

{% endblock %}