{% extends 'base.html' %}


{% block title %} SecStrAnnotator Online - Submission Form {% endblock %}


{% block content %}

<div class="row">
    <div class="col">
        <h2 class="mb-4">
            Annotate
        </h2>
    </div>
</div>

<form action="/submission" method="POST" enctype="multipart/form-data">
    <div class="row mb-2">
        <div class="col-12 col-lg-6">
            <div style="display: flex; flex-wrap: wrap;">
                <label for="input_job_name" class="my-auto">Job name:</label>
                <input type="text" id="input_job_name" name="job_name" value="{{job_name}}" placeholder="Optional job name" style="flex: 1;">
                <span class="info" title="Optional:&NewLine;Enter a job name for your later reference."></span>
            </div>
        </div>
    </div>
    <hr>

    <div class="row mb-2">
        <div class="col"><strong>
                Template:</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4 mb-2" onclick="enable();">
            <input type="radio" id="iradio_template_standard" name="template_type" value="standard" required checked>
            <label for="iradio_template_standard">Standard</label>
            <div style="display: flex; flex-wrap: wrap;">
                <label for="itext_template_pdbid" class="my-auto">Select template:</label>
                <select class="monospace" id="iselect_template" name="template_standard" style="flex: 1;">
                    <option value="2nnjA" title="2nnj, chain A&NewLine;Manually annotated template for Cytochrome P450 family (CATH: 1.10.630.10, Pfam: PF00067)" selected>Cytochromes P450:&nbsp; 2nnjA</option>
                    <!-- <option value="1bvyB" title="Fake value for tesvalue for testing">Fake family:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1bvyB</option>
                    <option value="1cbsA" title="Fake value for testing">FAKE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1cbsA</option>
                    <option value="1tqnA" title="Fake ting">Fakenoglobulins:&nbsp;&nbsp; 1tqnA</option> -->
                </select>
                <span class="info" title="Select one of the pre-defined standard templates.&NewLine;(Currently only one template is available. Please contact us with your suggestions for more templates.)"></span>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-2" onclick="enable();">
            <input type="radio" id="iradio_template_custom" name="template_type" value="custom" required>
            <label for="iradio_template_custom">Custom</label>
            <br>
            <div style="display: flex; flex-wrap: wrap;">
                <label for="ifile_template_structure">Template structure file:</label>
                <input type="file" id="ifile_template_structure" name="template_structure_file" required accept=".cif,.pdb,.ent" max-size="20MB" style="flex: 1;">
                <span class="info" title="Upload template structure in mmCIF format (.cif) or PDB format (.pdb)."></span>
            </div>
            <div style="display: flex; flex-wrap: wrap;">
                <label for="ifile_template_annotation">Template annotation file:</label>
                <input type="file" id="ifile_template_annotation" name="template_annotation_file" required accept=".json" max-size="20MB" style="flex: 1;">
                <span class="info" title="Upload template annotation in SecStrAnnotator format (.sses.json).&NewLine;See Manual for details."></span>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-2" onclick="enable();">
            <input type="radio" id="iradio_template_none" name="template_type" value="none" required>
            <label for="iradio_template_none">None</label>
            <br>
            Detect-only mode (detect secondary structure elements without annotating).
        </div>
    </div>
    <hr>

    <div class="row mb-2">
        <div class="col"><strong>
                Query structure:</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 mb-2" onclick="enable(); $('#itext_query_pdbid').focus();">
            <input type="radio" id="iradio_query_pdb" name="query_type" value="pdb" required checked>
            <label for="iradio_query_pdb">PDB entry</label>
            <div style="display: flex; flex-wrap: wrap;">
                <label for="itext_query_pdbid" class="my-auto">PDB ID:</label>
                <input type="text" id="itext_query_pdbid" name="query_pdbid" value="" placeholder="e.g. 1tqn" style="flex: 1;" required maxlength="4" pattern="[0-9][0-9a-zA-Z]{3}" oninput="validatePdbId(this);">
                <span class="info" title="Enter the PDB identifier of a structure in the Protein Data Bank (case insensitive)."></span>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-2" onclick="enable();">
            <input type="radio" id="iradio_query_upload" name="query_type" value="upload" required>
            <label for="iradio_query_upload">Upload structure</label>
            <br>
            <div style="display: flex; flex-wrap: wrap;">
                <label for="ifile_query_structure">Query structure file:</label>
                <input type="file" id="ifile_query_structure" name="query_structure_file" required accept=".cif,.pdb,.ent" max-size="20MB" style="flex: 1;">
                <span class="info" title="Upload query structure in mmCIF format (.cif) or PDB format (.pdb)."></span>
            </div>
        </div>
    </div>
    <hr>

    <div class="row mb-2">
        <div class="col-12 col-lg-6">
            <div style="display: flex; flex-wrap: wrap;">
                <label for="itext_query_chain" class="my-auto">Query chain:</label>
                <input type="text" id="itext_query_chain" name="query_chain" value="" placeholder="e.g. A" required pattern="[^,]+" oninput="validateChain(this);" style="flex: 1;">
                <span class="info" title="Enter one chain identifier within the structure.&NewLine;Chain must be specified using mmCIF-style numbering (label_asym_id), not PDB-style (auth_asym_id).&NewLine;Use a dot (.) if the chain column is empty in the uploaded structure file."></span>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-12 col-lg-6">
            <div style="display: flex; flex-wrap: wrap;">
                <label for="itext_query_range" class="my-auto">Query residue range:</label>
                <input type="text" id="itext_query_range" name="query_range" value="" pattern=" *\d*:\d* *(, *\d*:\d* *)*" placeholder="Optional, e.g. 5:100,120:200" style="flex: 1;">
                <span class="info" title="Optional:&NewLine;Enter one or more residue ranges, each in format start:end.&NewLine;Both start and end will be included in the range.&NewLine;The start of the first range and the end of the last range can be omitted (e.g. :50,80:100,150:).&NewLine;Leave blank to take the whole chain.&NewLine;&NewLine;Residues must be specified using mmCIF-style numbering (label_seq_id), not PDB-style (auth_seq_id)."></span>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-12 col-lg-6" id="div_all_chains">
            <div style="display: flex; flex-wrap: wrap;">
                <input type="checkbox" class="my-auto mr-2" id="icheckbox_all_chains" name="all_chains" value="all_chains" onclick="enable();">
                <label for="icheckbox_all_chains" class="my-auto" style="flex: 1;">Process all chains</label>
                <span class="info" title="Ignore 'Query chain' and 'Query residue range' and process the whole query structure instead&NewLine;(Only when Template: None)"></span>
            </div>
        </div>
    </div>
    <hr>

    <div class="row mb-2 mt-3">
        <div class="col">
            <input type="submit" value="Submit">
        </div>
    </div>
</form>

{% endblock %}


{% block scripts %}

<script>
    function enableTemplateStandard() {
        $('#iradio_template_standard').prop('checked', true);
        $('#iselect_template').removeAttr('disabled');
        $('#ifile_template_structure').attr('disabled', true);
        $('#ifile_template_annotation').attr('disabled', true);
        $('#icheckbox_all_chains').attr('disabled', true);
        $('#div_all_chains').hide();
    }
    function enableTemplateCustom() {
        $('#iradio_template_custom').prop('checked', true);
        $('#iselect_template').attr('disabled', true);
        $('#ifile_template_structure').removeAttr('disabled');
        $('#ifile_template_annotation').removeAttr('disabled');
        $('#icheckbox_all_chains').attr('disabled', true);
        $('#div_all_chains').hide();
    }
    function enableTemplateNone() {
        $('#iradio_template_none').prop('checked', true);
        $('#iselect_template').attr('disabled', true);
        $('#ifile_template_structure').attr('disabled', true);
        $('#ifile_template_annotation').attr('disabled', true);
        $('#icheckbox_all_chains').removeAttr('disabled');
        $('#div_all_chains').show();
    }
    function enableQueryPdb() {
        $('#iradio_query_pdb').prop('checked', true);
        $('#itext_query_pdbid').removeAttr('disabled');
        $('#ifile_query_structure').attr('disabled', true);
    }
    function enableQueryUpload() {
        $('#iradio_query_upload').prop('checked', true);
        $('#itext_query_pdbid').attr('disabled', true);
        $('#ifile_query_structure').removeAttr('disabled');
    }
    function enableAllChains() {
        if ($('#iradio_template_none').prop('checked') && $('#icheckbox_all_chains').prop('checked')) {
            $('#itext_query_chain').attr('disabled', true);
            $('#itext_query_range').attr('disabled', true);
        } else {
            $('#itext_query_chain').removeAttr('disabled');
            $('#itext_query_range').removeAttr('disabled');
        }
    }
    function enable() {
        if ($('#iradio_template_standard').prop('checked')) {
            enableTemplateStandard();
        }
        else if ($('#iradio_template_custom').prop('checked')) {
            enableTemplateCustom();
        }
        else if ($('#iradio_template_none').prop('checked')) {
            enableTemplateNone();
        }
        if ($('#iradio_query_pdb').prop('checked')) {
            enableQueryPdb();
        }
        else if ($('#iradio_query_upload').prop('checked')) {
            enableQueryUpload();
        }
        enableAllChains();
    }

    const BYTE_UNITS = ['B', 'KB', 'MB', 'GB', 'TB'];
    const BYTE_RADIX = 1024;
    function formatBytes(bytes) {
        let x = parseFloat(bytes);
        let iUnit = 0;
        while (x >= BYTE_RADIX && iUnit < BYTE_UNITS.length - 1) {
            x /= BYTE_RADIX;
            iUnit++;
        }
        x = Math.round(x * 10) / 10;
        return `${x} ${BYTE_UNITS[iUnit]}`;
    }
    function parseBytes(string) {
        if (typeof string == 'number') {
            return Math.round(string);
        }
        let x = parseFloat(string);
        unit = string.replace(/[\d\. ]+/, '');
        let iUnit = 0;
        while (iUnit < BYTE_UNITS.length && unit.toUpperCase() != BYTE_UNITS[iUnit].toUpperCase() && unit != '') {
            x *= BYTE_RADIX;
            iUnit++;
        }
        if (iUnit < BYTE_UNITS.length) {
            return Math.round(x);
        } else {
            throw new Error(`Invalid file size string: '${string}'`);
        }
    }
    function validateFileSize(event) {
        let inputElement = event.target;
        let maxSize = $(inputElement).attr('max-size');
        if (maxSize) {
            let maxBytes = parseBytes(maxSize);
            let files = inputElement.files;
            if (files) {
                for (let i = 0; i < files.length; i++) {
                    let bytes = files[i].size;
                    if (bytes > maxBytes) {
                        inputElement.setCustomValidity(`File too big (${formatBytes(bytes)}, limit is ${formatBytes(maxBytes)})`);
                        return;
                    }
                }
                inputElement.setCustomValidity('');
            }
        }
    }
    function validatePdbId(inputElement) {
        if (inputElement.validity.valueMissing) {
            inputElement.setCustomValidity('Please fill out this field.');
        } else if (inputElement.validity.patternMismatch) {
            inputElement.setCustomValidity('Please enter a valid PBD ID (1 digit + 3 letters/digits), e.g. 1tqn');
        } else {
            inputElement.setCustomValidity('');
        }
    }
    function validateChain(inputElement) {
        if (inputElement.validity.valueMissing) {
            inputElement.setCustomValidity('Please fill out this field.');
        } else if (inputElement.validity.patternMismatch) {
            inputElement.setCustomValidity('Please enter a valid chain ID (cannot specify multiple chains)');
        } else {
            inputElement.setCustomValidity('');
        }
    }

    // Enable tooltip with HTML (Bootstrap)
    // $(function () { $('[data-toggle="tooltip"]').tooltip(); })
    // $(function () { $('[data-toggle="popover"]').popover(); })
    $(() => $('input[type="file"]').on('input', validateFileSize))
    $(enable);
</script>

{% endblock %}