{% extends 'base.html' %}


{% block title %} SecStrAnnotator Online - Waiting {% endblock %}


{% block google_analytics %} <!--No google analytics for this page--> {% endblock %}


{% block head %}
<meta http-equiv="refresh" content="{{refresh_time}}">
{% endblock %}


{% block content %}

<div class="row">
    <div class="col border m-3 p-3">
        <table>
            <tr>
                <td class='label'>Job name:</td>
                <td>{{job_name}}</td>
            </tr>
            <tr>
                <td class='label'>Job ID:</td>
                <td>{{job_id}}</td>
            </tr>
            <tr>
                <td class='label'>Status:</td>
                <td>{{job_status}}</td>
            </tr>
            <tr>
                <td class='label'>Submission time:</td>
                <td>{{submission_time}}</td>
            </tr>
            <tr>
                <td class='label'>Current time:</td>
                <td>{{current_time}}</td>
            </tr>
            <tr>
                <td class='label'>Elapsed time:</td>
                <td>{{elapsed_time}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>
            Save this link to get to your results later:
            <br>
            <a href='{{url}}'>{{url}}</a>
            <input type="button" value="Copy link" onclick="navigator.clipboard.writeText('{{url}}'); document.getElementById('copy-confirmation').innerHTML='&check;Copied';">
            <span id='copy-confirmation'></span>
        </p>
        <p>
            Autorefresh in {{refresh_time}} seconds
        </p>
    </div>
</div>

{% endblock %}