html {
  overflow-y:scroll
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

.navbar-brand {
  font-size: 1.5rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-weight: 500;
}

mark {
  background-color: lightcoral;
}

/* input[type=text], input[type=submit]{
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 100%;
}*/
input[type=text] {
  padding: 5px;
}
select {
  padding: 5px;
}
select.monospace {
  font-family: 'Courier New', Courier, monospace;
}
/* textarea {
  border: none;
  background-color: #f1f1f1;
} */
input[type=submit] {
  border: 1px solid transparent;
  padding: 10px;
  font-size: 100%;
  font-weight: bold;

  background-color: DodgerBlue;
  color: #fff;
}
/* input[type=button] {
  padding: 8px2;
  background-color: gainsboro;
  color: black;
} */

label {
  font-weight: bold;
  margin-right: 1em;
}

.menu {
  font-size: 160%;
  color: #002776;
}
.menu-head {
  font-size: 120%;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  margin-left: 0.25em;
  margin-right: 2em;
}
.menu-item {
  text-decoration: underline;
  color: inherit;
  margin: 1em;
}
.menu-item.active {
  font-weight: bold;
}
.menu hr {
  border: 1px solid #002776;
}

div.main-body {
  margin-left: 1%; 
  margin-right: 1%; 
}

div.main-text {
  margin-top: 2%;
  margin: 1%;
  border: 1px solid grey; 
  padding-left: 1em; 
  padding-right: 1em; 
  text-align: justify;
}

div.fake-footer {
  height: 120px;
}

div.footer {
  position: absolute;
  bottom: 10px;
  margin: 0px;
  left: 1%; 
  right: 1%; 
}

div.footer-center {
  position: relative;
  margin: 0 auto;
  width: 60em;
  max-width: 100%;
}

td.label {
  font-weight: bold;
  padding-right: 10px;
}
th, td {
  padding-left: 10px;
}
th:first-child, td:first-child {
  padding-left: 0px;
}
th.num, td.num {
  text-align: end;
}
table.summary th, table.summary td {
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding: 5px; */
}

.info {
  margin: 2px;
  color: #007bff;
}
.info::before {
  margin-right: 2px;
  font-weight: bold; 
  content:"\24d8"
}

div.foldable {
  /* background-color: antiquewhite; */
}
div.foldable[folded=folded] {
  max-height: 8em; 
  overflow-y:hidden;
}

.button-foldable::before {
  content:"\25b2  Show less"
}
.button-foldable[folded=folded]::before {
  content:"\25bc  Show more"
}

div.panel {
  border: 1px solid #ddd;
  background-color: #eee; 
}
div.panel-control {
  border: 1px solid #ddd;
  background-color: #ddd; 
}

.pre {
  display: block;
  font-size: 90%;
  color: #212529;
  font-family: "SFMono-Regular","Menlo","Monaco","Consolas","Liberation Mono","Courier New",monospace;
  margin-top: 0;
  /* margin-bottom: 1rem; */
  overflow: auto;
  line-height: 1.1em; 
  padding-bottom: 0.1em;
  white-space: pre;
}

.tooltip.show {
  /*Bootstrap tooltip*/
  opacity: 1;
}
.tooltip-inner {
  /*Bootstrap tooltip*/
  max-width: none;
}
.popover {
  /*Bootstrap tooltip*/
  max-width: none;
}
.popover-header {
  text-align: center;
  font-weight: bold;
}

img.tooltip-logo {
  max-height: 300px;
  max-width: 800px;
}

img.screenshot {
  max-width: 96%; 
  margin-left: 2%; 
  padding: 1%; 
  border: 1px solid gainsboro;
}